/* unvisited link */
a:link {
  background: green;
}

/* visited link */
a:visited {
    background: green;
}

/* mouse over link */
a:hover {
    background: red;
}

/* selected link */
a:active {
    background: yellow;
}